dj-database-url==0.4.1
Django==1.10
gunicorn==19.4.5
psycopg2==2.6.1
model-mommy==1.2.6
whitenoise==3.2
django-widget-tweaks==1.4.1
pagseguro==0.3.2
django-paypal==0.3.3
Pillow==3.3.0
easy-thumbnails==2.3
django-storages==1.5.1
boto==2.43.0
