{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Início</a></li>
  <li><a href="{% url 'checkout:cart_item' %}">Carrinho de Compras</a></li>
  <li class="active">Finalização da Compra</li>
</ol>
<div class="page-header">
    <h1>Escolha forma de pagamento</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Pedido #{{ order.pk }}
        </p>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <a href="#" class="btn btn-success">Pagar com Pagseguro</a>
    </div>
    <div class="col-md-4">
        <a href="#" class="btn btn-primary">Pagar com Paypal</a>
    </div>
</div>
{% endblock %}
