{% extends "accounts/index.html" %}

{% block title %}
Pedido #{{ order.pk }}
{% endblock %}

{% block accounts_container %}
<h2>Pedido #{{ order.pk }}</h2>
<dl class="dl-horizontal">
    <dt>Total R$</dt>
    <dd>{{ object.total|floatformat:"2" }}</dd>
    <dt>Situação</dt>
    <dd>{{ object.get_status_display }}</dd>
    <dt>Data</dt>
    <dd>{{ object.created|date:"d/m/Y H:i" }}</dd>
    <dt>Meio de Pagamento</dt>
    <dd>{{ object.get_payment_option_display }}</dd>
</dl>
<h3>Itens do Pedido</h3>
{% for item in object.items.all %}
    <dl class="dl-horizontal">
        <dt>Produto</dt>
        <dd>{{ item.product }}</dd>
        <dt>Quantidade</dt>
        <dd>{{ item.quantity }}</dd>
        <dt>Preço</dt>
        <dd>R$ {{ item.price|floatformat:"2" }}</dd>
    </dl>
{% endfor %}
{% endblock %}
