{% extends "base.html" %}

{% load pagination %}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Produtos</h1>
</div>
<div class="row">
    {% for product in products %}
    {% include "catalog/_product.html" %}
    {% endfor %}
</div>
{% pagination request paginator page_obj %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function(){
    $('.cart-item-add').on('click', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
                alert(data.message);
            }
        });
    });
});
</script>
{% endblock %}
